---
const { title, description } = Astro.props;
---

<head>

        <script id="Cookiebot"
        src="https://consent.cookiebot.com/uc.js"
        data-cbid="f8906613-166a-4534-a5e5-5e83c7a6270a"
        type="text/javascript"
        async>
        </script>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <meta name="description" content={description} />

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <!-- Google Fonts / other head assets can go here -->
</head>
