---
const { title, description } = Astro.props;
---

<head>

  <script id="Cookiebot"
          src="https://consent.cookiebot.com/uc.js"
          data-cbid="f8906613-166a-4534-a5e5-5e83c7a6270a"
          type="text/javascript"
          async>
  </script>
  
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    // Google Consent Mode
    gtag('consent', 'default', {
      'ad_storage': 'denied',
      'analytics_storage': 'denied',
      'personalization_storage': 'denied',
      'security_storage': 'denied',
      'functionality_storage': 'denied'
    });

    gtag('config', 'G-MVZ3YM60WQ');
  </script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-MVZ3YM60WQ"></script>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <meta name="description" content={description} />

  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  </head>