<div class="footer-top">
  <ul>
    <li><a href="/terms" class="footer-link">Terms of Service</a></li>
    <li><a href="/cookies" class="footer-link">Cookies Policy</a></li>
  </ul>
  <span class="footer-copy" id="companyName">&copy; {today.getFullYear()} <span id="companyText">AAA Games</span></span>
  <ul>
    <li><a href="/privacy" class="footer-link">Privacy Policy</a></li>
    <li><a href="/disclaimer" class="footer-link">Disclaimer</a></li>
  </ul>
</div>
<div class="social-links" id="footerSocialLinks">
  <ul>
    <li>
      <a href="https://www.patreon.com/aaagamescompany" target="_blank" rel="noopener" class="social-icon">
        <span class="sr-only">Support AAA Games on Patreon</span>
        <img src="/icons/patreon.svg" alt="Patreon - AAA Games" width="32" height="32" />
      </a>
    </li>
    </ul>
</div>