<div class="header-right" id="socialLinks">
  <ul>
    <li>
      <a href="/all-hallows" class="social-icon logo-icon">
        <span class="sr-only">All Hallows Home</span>
        <img src="/icons/all-hallows.png" alt="All Hallows - Home" />
      </a>
    </li>
    <li>
      <a href="https://www.patreon.com/aaagamescompany" target="_blank" rel="noopener" class="social-icon">
        <span class="sr-only">Support AAA Games on Patreon</span>
        <img src="/icons/patreon.svg" alt="Patreon - AAA Games" />
      </a>
    </li>
    </ul>
</div>