---
import { SITE_TITLE } from '../consts';
---

<header>
  <nav>
    <div class="header-left">
      <h2 class="site-logo">
        <a href="/">{SITE_TITLE}</a>
      </h2>
    </div>
    <div class="header-right">
      <a href="https://www.patreon.com/aaagamescompany" target="_blank" rel="noopener" class="social-icon">
        <span class="sr-only">Support AAA Games on Patreon</span>
        <img src="/icons/patreon.svg" alt="Patreon" />
      </a>
      <a href="https://www.facebook.com/aaagamescompany" target="_blank" rel="noopener" class="social-icon">
        <span class="sr-only">Follow AAA Games on Facebook</span>
        <img src="/icons/facebook.svg" alt="Facebook" />
      </a>
      <a href="https://www.tiktok.com/@aaagamescompany" target="_blank" rel="noopener" class="social-icon">
        <span class="sr-only">Follow AAA Games on TikTok</span>
        <img src="/icons/tiktok.svg" alt="TikTok" />
      </a>
      <a href="https://www.youtube.com/@aaagamescompany?sub_confirmation=1" target="_blank" rel="noopener" class="social-icon">
        <span class="sr-only">Subscribe to AAA Games on YouTube</span>
        <img src="/icons/youtube.svg" alt="YouTube" />
      </a>
      <a href="https://kick.com/aaagamescompany" target="_blank" rel="noopener" class="social-icon">
        <span class="sr-only">Follow AAA Games on Kick</span>
        <img src="/icons/kick.svg" alt="Kick" />
      </a>
      <a href="https://www.instagram.com/aaagamescompany/" target="_blank" rel="noopener" class="social-icon">
        <span class="sr-only">Follow AAA Games on Instagram</span>
        <img src="/icons/instagram.svg" alt="Instagram" />
      </a>
      <a href="https://x.com/aaagamescompany" target="_blank" rel="noopener" class="social-icon">
        <span class="sr-only">Follow AAA Games on X</span>
        <img src="/icons/x.svg" alt="X" />
      </a>
      <a href="https://linktr.ee/aaagamescompany" target="_blank" rel="noopener" class="social-icon">
        <span class="sr-only">Follow AAA Games on Linktree</span>
        <img src="/icons/linktree.svg" alt="Linktree" />
      </a>
    </div>
  </nav>
</header>
